.login-page{
    background: url(./../../../Images/bg/login.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container{
    width: 500px;
    position: fixed;
    background: #fff;
    top: 50%;
    border-radius: 10px;
    box-shadow: 1px 3px 20px 4px #00000012;
    left: 50%;
    padding: 90px 30px;
    transform: translate(-50%, -50%);
}
.logo-container{
    width: 200px;
   
    margin: 0 auto;
    margin-bottom: 30px;
}
.logo-container img{
    max-width: 100%;
}
.button-container {
    margin-top: 30px;
}.button-container button{
    color: #fff;
    width: 100%;
    border-radius: 7px;
    font-size: 18px;
    height: 50px;
    background: #45bd5b;
}
.form-container input{
    border: none;
    height: 40px;
    border-radius: 7px;
    background: #efefef;
}