:root {
    --white:#ffffff;
    --sd_primary: #45bd5b;
    --sd_primary_hover:#81de92;
    --sd_primary_low:#45bd5b1a;
    --sd_primary_dark:#339244;
    --sd_secondary: #0fa0cf;
    --sd_secondary_low:#0fa0cf26;
    --light_grey:#eff2f5;
    --light_red:#ff4d4fc4;
  }