@import "./GlobalVariables.css";

.header-right-content{
  display: inline-block;
  float: right;
  margin-right: 15px;
}
.p-0 {
  padding: 0px !important;
}
.max-width-100 {
  max-width: 100%;
}
.full-width {
  width: 100%;
}
.is-active {
  background: var(--sd_primary);
}
.table-search-bar .form-control {
  color: #222;
  background-color: #f0f2f5;
  border: 1px solid #f0f2f5;
}
.table td, .table th {
  border-top: 1px solid #f0f2f5;
  vertical-align: middle;
}
.table td p{
  margin-bottom: 0px!important;
}
.ant-dropdown-button button{
  background: #f0f2f5;
    border: none;
}
.ant-dropdown-button button:hover,.ant-dropdown-button button:focus,.ant-dropdown-button button:active{
  background: #f0f2f5;
    border: none;
    color: #45bd5b;
}
.total-spinner{
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.total-spinner-backdrop{
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff99;
}
.ant-spin-dot-item{
  background: #45bd5b;
}
.react-bootstrap-table .anticon-eye svg {
  color: var(--sd_primary);
  font-size: 16px;
  cursor: pointer;
}
.dashboard-layout .logo img {
  height: 32px;
  margin: 16px;
}
.ant-layout-sider-collapsed .logo img {
  margin: 15px 24px;
}
.ant-menu-inline-collapsed > .ant-menu-item,.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title{
  padding: 0px 24px;
  text-align: center;
}
.ant-menu-inline-collapsed .sidebar-icon {
  margin-right: 0px;
}
.ant-layout-sider {
  flex: 0 0 230px !important;
  max-width: 230px !important;
  min-width: 230px !important;
  width: 230px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.add-content-button {
  z-index: 9;
  margin-bottom: 10px;
  float: right;
}
.view-name {
  cursor: pointer;
}
.view-name:hover {
  color: #45bd5b;
}
.ant-pagination-item-active {
  border-color: var(--sd_primary);
}
.ant-pagination-item-active a {
  color: var(--sd_primary);
}
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: var(--sd_secondary);
}
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: var(--sd_secondary);
}
.data-table{
  position: relative;
}
.data-table thead {
  background: var(--sd_primary_low);
  color: var(--sd_primary_dark);
}
.data-table .table thead th {
  outline-color: var(--sd_primary);
}
.react-bootstrap-table-pagination .page-item.active .page-link {
  background: var(--sd_primary_dark);
  border-color: var(--sd_primary_dark);
  outline: none;
}
.react-bootstrap-table-pagination .page-link:focus {
  outline: none;
  box-shadow: none;
}
.react-bootstrap-table-pagination .page-link {
  color: var(--sd_primary);
}
.react-bootstrap-table-pagination .active .page-link:hover {
  color: var(--white);
}
.react-bootstrap-table-pagination .page-link:hover {
  color: var(--sd_primary_dark);
}
.react-bootstrap-table-pagination .btn-secondary {
  background-color: var(--sd_primary);
  border-color: var(--sd_primary);
}
.react-bootstrap-table-pagination .btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}
.react-bootstrap-table-pagination
  .btn-secondary:not(:disabled):not(.disabled).active,
.react-bootstrap-table-pagination
  .btn-secondary:not(:disabled):not(.disabled):active,
.react-bootstrap-table-pagination .show > .btn-secondary.dropdown-toggle {
  background: var(--sd_primary_dark);
  border-color: var(--sd_primary_dark);
  outline: none;
  box-shadow: none;
}
.react-bootstrap-table-pagination .dropdown-menu a {
  color: var(--sd_primary);
}
.ant-btn:hover,
.ant-btn:focus {
  color: var(--sd_primary);
  border-color: var(--sd_primary);
}
.data-table .table thead th {
  border-bottom: none;
}
.data-table .table th {
  border-top: none;
}
.search-label {
  float: right;
}
.capitalize{
  text-transform: capitalize;
}
.react-bootstrap-table-pagination-total {
  margin-left: 15px;
}
.sidebar-icon {
  width: 1.2rem;
  margin-right: 10px;
}
.ant-menu-inline-collapsed{
  width: 100%;
}
.ant-menu-inline-collapsed .ant-menu-submenu-title span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: var(--sd_primary_dark);
}
.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: var(--sd_primary_low);
}
.ant-btn-primary {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  border: none;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: linear-gradient(60deg, #408c44, #47af4b);
  border: none;
  color: var(--white);
}
.dashboard-layout .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: var(--sd_primary);
}

.dashboard-layout .trigger:hover {
  color: var(--sd_secondary);
}
.dashboard-layout
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected {

  background: linear-gradient(60deg, #66bb6a, #43a047);
}
.alpha-dummy-avatar {
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 5px;
  color: var(--white);
  background: var(--sd_primary);
}
.ant-menu-sub .ant-menu-item {
  padding-left: 30px !important;
}

.dashboard-layout .site-layout .site-layout-background {
  background: var(--white);
}
.dashboard-layout .ant-layout-content {
  min-height: 84vh !important;
}
.dashboard-layout .site-layout-background.content {
  margin: 24px 16px;
  padding: 12px 24px;
  min-height: 280px;
}
.table-avatar {
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--light_grey);
  height: 40px;
  width: 40px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
}
ul.languages-spoken-names{
  list-style: none;
  display: inline-flex;
  margin-bottom: 0px;
  padding-left: 0px;
}
ul.languages-spoken-names li:not(:last-child):after {
  content: ", ";
}
.doctor-speciality{
    padding: 3px 12px;
    color: #45bd5b;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: 1px 2px 7px #00000045;
    font-size: 12px;
}
.table-avatar img {
  max-width: 100%;
  height: auto;
}
.table-avatar-name span {
  display: inline-block;
}
.ant-switch {
  background-color: var(--light_red);
}
.item-details-modal .ant-modal-header {
  display: none;
}
.item-details-modal .ant-modal-content {
  border-radius: 10px;
}
.item-details-modal .ant-tabs-nav {
  margin-bottom: 5px;
}
.item-details-modal .ant-tabs-content-holder {
  border: 1px solid #f0f0f0;
  padding: 15px;
}
.item-details-modal .contact-info {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
}
.item-details-modal .contact-info svg {
  color: #45bd5b;
}
.item-details-modal .health-info-row {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
}
.item-details-modal .blood-group,.item-details-modal .weight,.item-details-modal .height{
  flex-grow: 1;
    margin-bottom: 10px;
    padding: 0px 5px;
}
.item-details-modal .contact-info .email,
.item-details-modal .contact-info .mobile,
.item-details-modal .contact-info .address,
.item-details-modal .contact-info .telephone,
.item-details-modal .contact-info .user ,.item-details-modal .contact-info .auto-approval,.item-details-modal .contact-info .languages-spoken {
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 0px 5px;
}

.item-details-modal .contact-info svg {
  margin-right: 5px;
}
.item-details-modal .department-info,
.item-details-modal .service-info {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
}
.item-details-modal .department-info span,
.item-details-modal .service-info span {
  flex-grow: 1;
}
.item-details-modal .department-info span.item,
.item-details-modal .service-info span.item {
  font-size: 14px;
    flex-grow: inherit;
    border: 1px solid #45bd5b38;
    border-radius: 5px;
    margin: 3px;
    padding: 2px 10px;
    background: #45bd5b0d;
}
.item-details-modal .department-info span.item svg,
.item-details-modal .service-info span.item svg {
  color: #45bd5b;
  margin-right: 5px;
}
.item-details-modal .cover-image-holder {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100px;
  background-position: 50% 45%;
  background-size: cover;
  background-repeat: no-repeat;
}
.item-details-modal .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.item-details-modal .ant-tabs-tab:hover {
  color: #45bd5b;
}
.item-details-modal .profile-image {
  border-radius: 10px;
  height: 90px;
  display: inline-block;
  box-shadow: 0 0 15px #00000014;
  width: 90px;
  border: 3px solid #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -45px;
}
.item-details-modal .profile-info {
  vertical-align: text-bottom;
  display: inline-block;
  padding: 0px 10px;
}
.profile-info h4 {
  margin-bottom: 0px;
}
.profile-info svg {
  color: #45bd5b;
  margin-right: 3px;
}
.item-details-modal .basic-information {
  padding: 10px;
}
.item-details-modal .basic-information.doctor {
  margin-top: -35px;
}
.item-details-modal .ant-modal-body {
  padding: 0px;
}
.item-details-modal .ant-modal-close-x {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.working-hours .day {
  display: flex;
  padding: 5px;
}
.working-hours .day .label {
  min-width: 100px;
  font-weight: 600;
}
.ant-switch-checked {
  background: #45bd5b;
}
.order-item {
  cursor: pointer;
}
.react-bootstrap-table{
  max-width: 100%;
    overflow: scroll;
    margin-top: 25px;
}
.ant-steps-vertical.ant-steps-dot .ant-steps-item-icon {
  margin-top: 13px;
  margin-right: 7px;
}
.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot,.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot,.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after,.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after{
  background: #45bd5b;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
 
  font-size: 14px !important;
  line-height: 30px !important;
}
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description{
  color: #222 !important;
}
 .ant-steps-item-description{
  font-size: 12px;
  color: #222 !important;
}
.data-table h5{
  display: inline;
  margin-bottom: 0px;
  
}
.table-search-bar{
  position: absolute;
  display: inline;
    left: 50%;
    position: absolute;
    display: inline;
    left: 50%;
    transform: translate(-50%);
    /* top: -7px; */
}
.table-search-bar input{
  width: 300px;
}
.go-back-icon{
  margin-right: 10px;

}
.go-back-icon svg{
  height: 20px;
  width: 20px;
  vertical-align: text-bottom;
  color: #45bd5b;
}
.ant-drawer-header,.ant-modal-header {
  padding: 10px 24px;
  background: #45bd5b1a;
}
.ant-drawer-close{
  padding: 12px;
}
.ant-drawer-title,.ant-modal-title {
  color: #45bd5b;
}
.ant-modal-close-x {
  width: 42px;
  height: 42px;
  line-height: 42px;
}
.ant-modal-footer button:first-child{
  border: none;
    background: #f0f2f5;
}
.ant-drawer-body input[type=text]{
    height: 40px;
    line-height: 40px;
}
.ant-drawer-body .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  height: 40px;
}
.ant-drawer-body .ant-select-single .ant-select-selector .ant-select-selection-item{
  line-height: 40px;
}
.fileUploader {
  width: 50%;
}
.fileContainer{
  box-shadow: none!important;
  padding: 0px;
}
.fileContainer .chooseFileButton {
  background: #eff2f5!important;
  color: #222!important;
}
.procedure-image-uploader{
  display: flex;
  padding: 15px 0px;
}
.procedure-preview-image{
  height: 120px;
  padding: 15px;
  width: auto;
}
.ql-toolbar.ql-snow,.ql-container.ql-snow {
  border: 1px solid #eff2f5
}
.procedure-gallery-uploader{
 
}
.procedure-gallery-uploader p{
  padding: 20px 10px;
  text-align: center;
  border-radius: 5px;
  background: #eff2f5;
  border: 1px dotted #ddd;
  margin-bottom: 0px;
}
.app_status{
font-size: 12px;
border-radius: 3px;
border: 1px solid;
padding: 3px 9px;
}
.app_status.notresponded{
  border-color: #e29200;
  background: #ffa50036;
  color: #e29200;
}
.app_status.notattended{
  border-color: #929292;
    background: #9292922b;
    color: #929292;
}
.app_status.completed{
  border-color: #0fa0cf;
    background: #0fa0cf1f;
    color: #0fa0cf;
}
.app_status.checkedin{
  border-color: #096dd9;
  background: #096dd926;
  color: #096dd9;
}
.app_status.pending{
  border-color: #ff6c04;
    background: #ff6c0426;
    color: #ff6c04;
}
.app_status.cancelled{
  border-color: #dc3545;
    background: #dc354529;
    color: #dc3545;
}
.app_status.approved{
  border-color: #28a745;
  background: #28a7452e;
  color: #28a745;
}
.app_status.rescheduled{
  border-color: #28a7a1;
    background: #28a7a121;
    color: #28a7a1;
}
.app_status.checkedout{
  border-color: #0e7526;
  background: #0e75262e;
  color: #0e7526;
}
.app_status.videoconference{
  border-color: #9703a9;
    background: #9703a92b;
    color: #9703a9;
}

button.add-procedure{
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  height: 40px;
  color: #fff;
  line-height: 10px;
  background: #45bd5b;
}
button.add-procedure:hover{
  color: #fff;
  background: #45bd5b;
}
/* .image-cropper-modal .ant-modal-footer{
  display: none;
} */
input[type=text],.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  background-color: #f0f2f5;
  background-image: none;
  border: none;
}
@media (max-width: 992px) {
  .dashboard-layout .site-layout-background.content {
    overflow: scroll;
  }
}
@media (max-width: 767px) {
  .add-content-button {
    float: left;
  }
  .react-bootstrap-table-pagination .btn-secondary {
    margin-bottom: 10px;
  }
}
